<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">

    <title>Act-Now data</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>


    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script>
        angular.module("anApp",['ui.bootstrap']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("anApp").constant("moment", moment);

    </script>

    <script src="js/actnowCtrl.js"></script>
    <script src="js/libs/vis.min.js"></script>
    <script src="js/anSvc.js"></script>
    <script src="js/findStandardCtrl.js"></script>

    <script src="js/libs/jstree.min.js"></script>
    <script src="js/selectByDxCtrl.js"></script>
    <script src="js/filters.js"></script>

    <style>
        #graph {
            width: 100%;
            height: 600px;
            border: 1px solid lightgray;
        }

        #medTimeline {
            width: 100%;

        }

        .vis-item.red {
            color: white;
            background-color: lightsalmon;
            border-color: darkred;
        }

        .vis-item.rx {
            color: white;
            background-color: #cc9900;
            border-color: darkred;
        }

        .vis-item.obsBackground {
            color: white;
            background-color: #cc9900;
            border-color: darkred;
        }


        .resourceScroll {
            height: 500px;
            overflow-y: scroll;
        }

        .scroll {
            height: 800px;
            overflow-y: scroll;
        }

        .scrollQRList {
            height: 400px;
            overflow-y: scroll;
        }

        .selectedCell {
            background-color: lightsteelblue;
        }

         .myLabel {
             display: inline-block;
             width: 200px;
             height: 10px;
             font-weight: bold;
         }



    </style>

</head>


<body style="padding: 8px;padding-top: 80px">

    <div ng-app="anApp" ng-controller="actnowCtrl" class="container-fluid">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

            <div class="container-fluid">
                <div class="col-md-5">
                        <span>
                            <a class="navbar-brand" href="#">
                                CanShare: ACT-Now Chemotherapy data
                            </a>
                        </span>
                </div>

                <div class="col-md-2 col-sm-2">
                    <div class="navbar-text">

                    </div>

                </div>

                <div class="col-md-1 col-sm-1">
                    <div class="navbar-form navbar-left">
                        <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                    </div>
                </div>

                <div class="col-md-1 col-sm-1">

                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="navbar-text pull-right">
                        <!--  Leave for the moment.
                        <select ng-model = "input.server" class="form-control"
                                ng-change="selectServer(input.server)">
                            <option value="local">Local server</option>
                            <option value="smile">SMILE server</option>
                        </select>

                        -->
                    </div>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-1">
                <div class="navbar-text"> Patient Id</div>
                <!--
                <div><button class="btn btn-link" ng-click="selectByNhi()">Select by NHI</button></div>
                -->
            </div>

            <div class="col-md-2">
                <select class="form-control" ng-model="input.selectedPatientId"
                        ng-change="loadPatient(input.selectedPatientId)"
                        ng-options = " id for id in allPatientIds"></select>
            </div>

            <div class="col-md-4">
<!--
                    <button class="btn btn-link" ng-click="selectByDx()">Select by Dx</button>
                    <div><button class="btn btn-link" ng-click="selectByRegimenIdentifier()">Select by regimen Identifier</button></div>
-->

                Select by <span class="clickable" ng-click="selectByRegimenIdentifier()">Regimen Identifier</span> or
                    <span class="clickable" ng-click="selectByNhi()">NHI</span> or
                    <span class="clickable" ng-click="selectByDx()">Diagnosis</span>

            </div>

            <div class="col-md-3">
                <div><strong>Condition</strong></div>
                {{addressedCondition.code.text}}


            </div>

            <div class="col-md-2">

                <a class="pull-right" href="http://build.fhir.org/ig/davidhay25/actnow/branches/main/index.html" target="_blank">ACT-NOW Implementation Guide</a>

            </div>

        </div>
        <br/>
    <uib-tabset>

        <uib-tab heading="Clinical summary">


            <ng-include src = "'includes/regimenSummary.html'"></ng-include>


        </uib-tab>

        <uib-tab heading="Full Graph" select="graphTabSelected()">
            <div class="row">
                <div class="col-md-7">
                    <em class="pull-right">Patient resource not included in graph</em>
                    <div id="graph"></div>
                </div>
                <div class="col-md-5">
                    <div class="pull-right" ng-show="selectedResource">


                        {{selectedResource.resourceType}}:
                        <a target="_blank" ng-href="{{fhirSpecRoot}}{{selectedResource.resourceType}}.html"> Specification </a>
                        <a ng-show = "urlToProfile" target="_blank" ng-href="{{urlToProfile}}"> Profile </a>


                        <!--
                                                <a target="_blank" ng-href="{{fhirSpecRoot}}{{selectedResource.resourceType}}.html">{{selectedResource.resourceType}} specification</a>
                                            -->
                    </div>
                    <div class="clearfix"></div>

                    <uib-tabset ng-show="selectedResource">
                        <uib-tab heading="Json">
                            <pre>{{selectedResource | json}}</pre>
                        </uib-tab>
                        <uib-tab heading="Validate">


                            <button class="btn btn-link pull-right" ng-click="validateFromGraph(selectedResource)">Validate</button>

                            <div class="clearfix"></div>

                            <div class="resourceScroll">
                                <div ng-repeat="iss in graphValidationResults.issue">
                                    <pre>{{iss | json}}</pre>
                                </div>


<!--
                                <pre ng-show="graphValidationResults">{{graphValidationResults | json}}</pre>
                                -->
                            </div>


                        </uib-tab>
                    </uib-tabset>




                </div>
            </div>

        </uib-tab>

        <uib-tab heading="Medications timeline">

            <br/>
            <div class="row">
                <div class="col-md-8">
                    <div id="medTimeline"></div>

                </div>
                <div class="col-md-4">

                    <div class="pull-right" ng-show="selectedTimeLineItem.resource">
                        {{selectedTimeLineItem.resource.resourceType}}:
                        <a target="_blank" ng-href="{{fhirSpecRoot}}{{selectedTimeLineItem.resource.resourceType}}.html"> Specification </a>
                        <a ng-show="urlToProfile" target="_blank" ng-href="{{urlToProfile}}"> Profile </a>
                    </div>

                    <uib-tabset>
                        <uib-tab heading ="Resource">
                            <div class="resourceScroll">
                                <pre ng-show="selectedTimeLineItem.resource">{{selectedTimeLineItem.resource | json}}</pre>
                            </div>

                        </uib-tab>
                        <uib-tab heading ="Validation">
                            <button class="btn btn-link pull-right" ng-click="validateFromTimeline(selectedTimeLineItem.resource)">Validate</button>

                            <div class="clearfix"></div>

                            <div class="resourceScroll">
                                <pre ng-show="timelineValidationResults">{{timelineValidationResults | json}}</pre>
                            </div>
                        </uib-tab>
                    </uib-tabset>







<!--
                    <uib-tabset ng-show = "selectedTimeLineItem.resource" >
                        <uib-tab>
                            <uib-tab-heading>
                                <div ng-show = "selectedTimeLineItem.MA">Med Admin</div>
                                <div ng-show = "selectedTimeLineItem.rx">Med Request</div>
                                <div ng-show = "selectedTimeLineItem.obs">Observation</div>

                            </uib-tab-heading>



                            <br/>
                            <strong>
                                {{selectedTimeLineItem.MA.medicationCodeableConcept.text}}
                                {{selectedTimeLineItem.rx.medicationCodeableConcept.text}}
                                {{selectedTimeLineItem.obs.code.text}}
                            </strong>

                            {{selectedTimeLineItem.MA.dosage.text}} {{selectedTimeLineItem.MA.dosage.route.text}}

                            <div ng-repeat = "obs in selectedTimeLineItem.observations">
                                {{obs.code.text}}:  {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                            </div>

                            <br/> <br/>

                            <div ng-show="selectedTimeLineItem.observations.count > 0">
                                <div ng-repeat = "obs in selectedTimeLineItem.observations">
                                    {{obs.code.text}}:  {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                                </div>
                                <br/>
                            </div>



                            <pre ng-show="selectedTimeLineItem.rx">{{selectedTimeLineItem.rx | json}}</pre>


                            <pre ng-show="selectedTimeLineItem.MA">{{selectedTimeLineItem.MA | json}}</pre>

                            <pre ng-show="selectedTimeLineItem.obs">{{selectedTimeLineItem.obs | json}}</pre>

                        </uib-tab>



                        <uib-tab ng-show = "false && selectedTimeLineItem.observations.length > 0">

                            <uib-tab-heading>
                                Observations <span class="badge">{{selectedTimeLineItem.observations.length}}</span>
                            </uib-tab-heading>


                            <div ng-repeat = "obs in selectedTimeLineItem.observations">
                                {{obs.code.text}}:  {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                            </div>
                            <br/>




                            <div ng-repeat = "obs in selectedTimeLineItem.observations">
                                <pre>{{obs | json}}</pre>
                            </div>

                        </uib-tab>

                        <uib-tab heading = "Validate">
                            <button class="btn btn-link pull-right" ng-click="validate(selectedTimeLineItem.resource)">Validate</button>


                        </uib-tab>

                        <uib-tab heading="Item Json">
                            <pre>{{selectedTimeLineItem | json}}</pre>
                        </uib-tab>
                    </uib-tabset>

                    -->

                </div>
            </div>




        </uib-tab>


        <uib-tab heading="Cycles">
            <em>todo - add observations (moved from MA)</em>

            <uib-tabset>
                <uib-tab heading = "Table">
                    <div class="row">
                        <div class="col-md-8">
                            <table class = 'table table-condensed table-bordered'>
                                <tr><th>Num</th><th>Start</th><th>End</th><th>Length</th></tr>
                                <tr ng-repeat = "cycle in arCycles">

                                    <td>
                                        <div class="clickable"
                                             ng-click="selectThing(cycle)">
                                            Cycle #{{cycle.cycleNumber}}</div>
                                    </td>
                                    <td>{{cycle.period.start}}</td>
                                    <td>{{cycle.period.end}}</td>
                                    <td>{{cycle.length}}</td>

                                    <td>
                                        <!--
                                        <table class="table">
                                            <tr ng-repeat="admin in cycle.admins">
                                                <td>{{admin.drugName}}</td>
                                            </tr>
                                        </table>
                                        -->

                                        <div ng-repeat="admin in cycle.admins">
                                            <span style="display: inline-block;width:200px">
                                                {{admin.day}} {{admin.start | date : "MMM dd yyyy  h:mm"}}
                                            </span>

                                            <span class="clickable" ng-click="selectThing(admin)" >
                                         {{admin.drugName}}</span> {{admin.dose}} {{admin.route}} over {{admin.length}} mins


                                            <div style = "margin-left: 8px;color: red" ng-repeat = "adj in admin.adjust">
                                                Dose adjusted: {{adj}}
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div><em>?graph of resources with direct reference</em></div>
                            <div ng-show="observations.length > 0">

                                <strong>Observations</strong>
                                <div ng-repeat = "obs in observations">
                                    {{obs.code.text}}:  {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                                </div>
                                <br/>
                            </div>




                            <div ng-show="input.selectedCycleThing">
                                <strong>{{input.selectedCycleThing.resource.resourceType}}</strong>
                                <pre>{{input.selectedCycleThing.resource | json}}</pre>
                            </div>


                        </div>
                    </div>



                </uib-tab>
                <uib-tab heading = "Graph">

                    <em>Graph of local references (in and out) to selected cycle (like bundle visualizer)</em>

                </uib-tab>
            </uib-tabset>




        </uib-tab>



        <uib-tab ng-show="false" heading="Pathology reports">
            <br/>




            <uib-tabset>
                <uib-tab heading = "Diagnostic Report  (from v2)">


                    <a href="http://clinfhir.com/bundleVisualizer.html?http://actnow.canshare.co.nz:9092/baseR4/Bundle/v2mapping-1" target="_blank">Display in Bundle Visualizer</a>


                </uib-tab>
                <uib-tab heading = "Examples entered by clinicians">
                    <div class="alert alert-warning">This has all report forms (QR resources) for all patients currently
                        in the <a target="_blank" href="https://canshare.co.nz/dataStandards.html"> structured path public page</a>.
                        Next up will be to link to selected patient. </div>


                    <div class="row">
                        <div class="col-md-3">

                            <div class="scrollQRList">
                                <div ng-repeat="(k,v) in reportQR">
                                    <h4>{{k}}</h4>
                                    <div ng-repeat="item in v" style="margin-left: 8px"
                                         class="clickable"
                                         ng-click="selectQR(item)">
                                        {{item.date | date}}
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <uib-tabset>
                                <uib-tab heading="Report">
                                    <ng-include src = "'includes/renderFormForDisplay.html'"></ng-include>
                                </uib-tab>

                                <uib-tab heading="Report Definition (Tree)">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div id="qTree"></div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="scrollQRList">
                                                <pre>{{ selectedNode.data.item | json}}</pre>
                                            </div>

                                        </div>
                                    </div>






                                </uib-tab>


                                <uib-tab heading="Report Audit">
                                    <pre>{{audit | json}}</pre>
                                </uib-tab>

                                <uib-tab heading="Report Json">
                                    <pre>{{selectedQR | json}}</pre>
                                </uib-tab>


                                <uib-tab heading="Report Definition Json">
                                    <pre>{{selectedQ | json}}</pre>
                                </uib-tab>
                            </uib-tabset>





                        </div>
                    </div>

                    from QR from structured path. ?does report need tumour type
                    Right now, these are all reports for all patients as there is no patient link.
                    Idea is to show what's possible...


                    <em>Note that this data is derived from Sample reports entered into the StructuredPath
                        tool, and so are represented as QuestionnaireResponse resources. In real life these would
                        be DiagnosticReport/Observation - but the actual data present should be the same</em>

                </uib-tab>
            </uib-tabset>













        </uib-tab>

        <uib-tab heading="Observations">

            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <div ng-class="{'list-group-item':true,listItemSelected: k == selectedObservationCode}"
                             style="cursor: pointer"
                             ng-click="selectObservation(k)"
                             ng-repeat = "(k,v) in hashAllObs">
                            {{k}}
                        </div>
                    </div>
Add discontinue events (?or will just show)
                </div>
                <div class="col-md-10">
                    <uib-tabset>
                        <uib-tab heading="Table">
                            <div class="row">
                                <div class ="col-md-6">
                                    <table class="table table-bordered">
                                        <tr><th>Date</th><th>Age of Obs.</th><th>Value</th></tr>
                                        <tr ng-repeat = "obs in selectedObservationList">

                                            <td>
                                                <div class="clickable" ng-click="input.selectedObsFromTable = obs">
                                                    {{obs.effectiveDateTime | date : "MMM dd yyyy  h:mm"}}</div>
                                            </td>
                                            <td>
                                                {{obs.effectiveDateTime | age}}

                                            </td>
                                            <td>
                                                {{obs.valueString}}
                                                {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                                            </td>
                                        </tr>


                                    </table>

                                </div>
                                <div class ="col-md-6">
                                    <pre>{{input.selectedObsFromTable | json}}</pre>
                                </div>
                            </div>

<!--
                            <pre>{{hashAllObs | json}}</pre>
-->
                        </uib-tab>
                        <uib-tab heading="Chart">
<em>From patient viewer</em>
                        </uib-tab>
                        <uib-tab heading="Timeline">
                            <em>? chart is better</em>
                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>





        </uib-tab>



        <uib-tab ng-show="false" heading="Structured Path integration">

            <em>Q from SP - use public api. Search / associate. store reference in regimen careplan (an extension) </em>
            <div><em>Much of search is not coded - eg general text or more specific - like by section text (ancillary)</em></div>

            <div><em>Want 'ancillary studies' section - search for a section with 'ancillary' in the text</em></div>

            <div><em>list observations</em></div>
            <div><em>query QR fromstructured path - need patient id + tumoretype</em></div>


        </uib-tab>

        <uib-tab heading="Resources">
            <br/>


            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat = "resource in resourcesList"
                             style="cursor: pointer"
                             ng-click="selectResourceFromList(resource)">
                            <div class="pull-right">{{resource.id}}</div>
                            {{resource.resourceType}}
                            <div><em>{{resource.text.div | cleanTextDiv}}</em></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <uib-tabset>
                        <uib-tab heading="Json">
                            <pre ng-show="selectedResourceFromList">{{selectedResourceFromList | json}}</pre>
                        </uib-tab>
                        <uib-tab heading="Graph">
                            graph centered on selected resource like BV
                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>
<!--
            <uib-tabset>
                <uib-tab heading="List">
                    <div class="row">
                        <div class="col-md-3">


                        </div>
                        <div class="col-md-9">

                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Graph">

                </uib-tab>
            </uib-tabset>
-->



        </uib-tab>


        <uib-tab heading="Validation">

            <div class="row">
                <div class="col-md-12">
                    <button class="btn-link btn pull-right" ng-click="validate()">Validate bundle</button>
                </div>

            </div>

            <div class="alert-warning alert" ng-show="validating">
                Validating bundle, please wait. This can take a little while...
            </div>

            <uib-tabset>
                <uib-tab heading = "Details">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="scroll">
                                <table class="table table-bordered table-condensed">
                                    <tr ng-repeat="item in validationIssues">
                                        <td>
                                            <div class="clickable" ng-click="input.selectedValidationItem = item">{{item.type}}</div>
                                        </td>
                                        <td>{{item.detail}}</td>
                                        <td>
                                            {{item.location}} {{item.inx}}
                                            <!--
                                            <div ng-repeat="loc in iss.location">
                                                {{loc}}
                                            </div>
                                            -->
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <pre ng-show="input.selectedValidationItem">{{input.selectedValidationItem.resource | json}}</pre>

                            <pre ng-show="input.selectedValidationItem">{{input.selectedValidationItem.iss | json}}</pre>


                        </div>
                    </div>

                </uib-tab>
                <uib-tab heading = "Json">
                    <pre>{{validationResults | json}}</pre>
                </uib-tab>
            </uib-tabset>


        </uib-tab>

        <uib-tab heading="ACT-NOW model">

            <div class="row">
                <div class="col-md-5">
                  <!--  <div id="qTree"></div> -->
                    <div id="anTree"></div>
                    <br/>

                    <a target="_blank" ng-href="{{openModelinPublicPage}}">Open in Data Standards page</a>
                </div>
                <div class="col-md-7">
                    <uib-tabset>
                        <uib-tab heading="Details">
                            <ng-include src = "'includes/itemDetails.html'"></ng-include>
                        </uib-tab>
                        <uib-tab heading="Json">
                            <pre>{{ selectedNode.data.item | json}}</pre>
                        </uib-tab>
                    </uib-tabset>




                </div>
            </div>

        </uib-tab>



        <uib-tab heading="Full Patient Json">
            <pre>{{allResourcesBundle | json}}</pre>
        </uib-tab>

        <uib-tab heading="CanShare API query">
            <ng-include src = "'includes/api.html'"></ng-include>
        </uib-tab>

    </uib-tabset>




</div>

</body>
</html>