<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">

    <title>Act-Now data</title>

    <script src="js/libs/jquery-1.9.0.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>
    <script src="js/libs/ui-bootstrap-tpls-2.0.1.min.js"></script>
    <script src="js/libs/moment.min.js"></script>
    <script src="js/libs/angular.min1-5.js"></script>

    <link rel="stylesheet" type="text/css" href="css/vis.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <link rel="stylesheet" type="text/css" href="css/jsTreeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsTreeThemes/proton/style.css"/>

    <script>
        angular.module("anApp",['ui.bootstrap']).config(function($locationProvider) {

            // enable html5Mode for pushstate ('#'-less URLs)
            $locationProvider.html5Mode(true);
            $locationProvider.hashPrefix('!');
        });
        angular.module("anApp").constant("moment", moment);

    </script>

    <script src="js/actnowCtrl.js"></script>
    <script src="js/libs/vis.min.js"></script>
    <script src="js/anSvc.js"></script>
    <script src="js/findStandardCtrl.js"></script>

    <script src="js/libs/jstree.min.js"></script>
    <script src="js/selectByDxCtrl.js"></script>
    <script src="js/filters.js"></script>

    <style>
        #graph {
            width: 100%;
            height: 600px;
            border: 1px solid lightgray;
        }

        #medTimeline {
            width: 100%;

        }

        .vis-item.red {
            color: white;
            background-color: lightsalmon;
            border-color: darkred;
        }

    </style>

</head>


<body style="padding: 8px;padding-top: 80px">

    <div ng-app="anApp" ng-controller="actnowCtrl" class="container-fluid">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <div class="container-fluid">
            <div class="col-md-5">

                    <span>
                        <a class="navbar-brand" href="#">
                            CanShare: ACT-Now data
                        </a>
                    </span>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="navbar-text">




                </div>

            </div>

            <div class="col-md-1 col-sm-1">
                <div class="navbar-form navbar-left">
                    <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

                </div>
            </div>

            <div class="col-md-1 col-sm-1">

            </div>

            <div class="col-md-3 col-sm-3">


            </div>
        </div>
    </nav>

    <br/>


        <div class="row">
            <div class="col-md-1">
                Patient
            </div>



            <div class="col-md-2">
                <select class="form-control" ng-model="input.selectedPatientId"
                        ng-change="loadPatient(input.selectedPatientId)"
                        ng-options = " id for id in allPatientIds"></select>
            </div>

            <div class="col-md-2">
                <button class="btn btn-link" ng-click="selectByDx()">Select by Dx</button>

            </div>

            <div class="col-md-3">
                <div><strong>Condition</strong></div>
                {{addressedCondition.code.text}}


            </div>

            <div class="col-md-3">
                <em>List of associated Q - add/delete/edit</em>
                <button class="btn btn-link" ng-click = "searchStandard()">Find Structured Path standard</button>

            </div>

        </div>

    <uib-tabset>

        <uib-tab heading="Medications timeline">

            <br/>
            <div class="row">
                <div class="col-md-8">
                    <div id="medTimeline"></div>

                </div>
                <div class="col-md-4">
                    <uib-tabset>
                        <uib-tab heading="Med Admin">


                            <br/>
                            <strong>
                                {{selectedTimeLineItem.MA.medicationCodeableConcept.text}}</strong>
                            {{selectedTimeLineItem.MA.dosage.text}} {{selectedTimeLineItem.MA.dosage.route.text}}

                            <div ng-repeat = "obs in selectedTimeLineItem.observations">
                                {{obs.code.text}}:  {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                            </div>

                            <br/> <br/>

                            <div ng-show="selectedTimeLineItem.observations.count > 0">
                                <div ng-repeat = "obs in selectedTimeLineItem.observations">
                                    {{obs.code.text}}:  {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                                </div>
                                <br/>
                            </div>




                            <pre>{{selectedTimeLineItem.MA | json}}</pre>
                        </uib-tab>
                        <uib-tab ng-show = "selectedTimeLineItem.observations.length > 0">

                            <uib-tab-heading>
                                Observations <span class="badge">{{selectedTimeLineItem.observations.length}}</span>
                            </uib-tab-heading>


                            <div ng-repeat = "obs in selectedTimeLineItem.observations">
                                {{obs.code.text}}:  {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                            </div>
                            <br/>




                            <div ng-repeat = "obs in selectedTimeLineItem.observations">
                                <pre>{{obs | json}}</pre>
                            </div>

                        </uib-tab>
                        <uib-tab heading="Json">
                            <pre>{{selectedTimeLineItem | json}}</pre>
                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>




        </uib-tab>


        <uib-tab heading="Cycles">


            <uib-tabset>
                <uib-tab heading = "Table">
                    <div class="row">
                        <div class="col-md-8">
                            <table class = 'table table-condensed table-bordered'>
                                <tr><th>Num</th><th>Start</th><th>End</th><th>Length</th></tr>
                                <tr ng-repeat = "cycle in arCycles">
                                    <td>
                                        <div class="clickable"
                                             ng-click="selectThing(cycle)">
                                            {{cycle.cycleNumber}}</div>
                                    </td>
                                    <td>{{cycle.period.start}}</td>
                                    <td>{{cycle.period.end}}</td>
                                    <td>{{cycle.length}}</td>

                                    <td>
                                        <!--
                                        <table class="table">
                                            <tr ng-repeat="admin in cycle.admins">
                                                <td>{{admin.drugName}}</td>
                                            </tr>
                                        </table>
                                        -->

                                        <div ng-repeat="admin in cycle.admins">
                                            {{admin.start | date : "MMM dd yyyy  h:mm"}}
                                            <span class="clickable" ng-click="selectThing(admin)" >
                                         {{admin.drugName}}</span> {{admin.dose}} {{admin.route}} over {{admin.length}} mins
                                            <div style = "margin-left: 8px;color: red" ng-repeat = "adj in admin.adjust">
                                                Dose adjusted: {{adj}}
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div><em>?graph of resources with direct reference</em></div>
                            <div ng-show="observations.length > 0">

                                <strong>Observations</strong>
                                <div ng-repeat = "obs in observations">
                                    {{obs.code.text}}:  {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                                </div>
                                <br/>
                            </div>




                            <div ng-show="input.selectedCycleThing">
                                <strong>{{input.selectedCycleThing.resource.resourceType}}</strong>
                                <pre>{{input.selectedCycleThing.resource | json}}</pre>
                            </div>


                        </div>
                    </div>



                </uib-tab>
                <uib-tab heading = "Graph">

                    <em>Graph of local references (in and out) to selected cycle (like bundle visualizer)</em>

                </uib-tab>
            </uib-tabset>




        </uib-tab>

        <uib-tab heading="Full Graph">
            <div class="row">
                <div class="col-md-7">
                    <div id="graph"></div>
                </div>
                <div class="col-md-5">
                    <pre>{{selectedResource | json}}</pre>
                </div>
            </div>

        </uib-tab>


        <uib-tab heading="Regimen details">

          <em>Condition - </em>

            <div>
                <em>pre & post regimen observations</em>
            </div>


            <div ng-repeat = "regimen in arRegimens">

                <uib-tabset>
                    <uib-tab heading = "Display">
                        <br/>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-3">
                                        Title
                                    </div>
                                    <div class="col-md-9">
                                        <div class="rounded-box">{{regimen.resource.title}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Purpose
                                    </div>
                                    <div class="col-md-9">
                                        <div class="rounded-box">
                                            {{anSvc.getSingleExtension(regimen.resource,"http://canshare.co.nz/fhir/StructureDefinition/tx-intent","CodeableConcept").text}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        Period
                                    </div>
                                    <div class="col-md-9">
                                        <div class="rounded-box">
                                            {{regimen.resource.period.start}} to {{regimen.resource.period.end }}
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="col-md-4">

                                <strong>Supporting Info</strong>
                                <div class="list-group">
                                    <div class="list-group-item"
                                         ng-click = "input.obsFromRegimenView = obs"
                                         ng-repeat = "obs in regimen.supportingInfo">
                                     <!--   {{obs | json}} -->
                                        {{obs.code.text}}:  {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}} {{obs.valueString}}
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <pre>{{input.obsFromRegimenView | json}}</pre>
                            </div>
                        </div>

                    </uib-tab>
                    <uib-tab heading = "Json">
                        <pre>{{regimen.resource | json}}</pre>
                    </uib-tab>
                </uib-tabset>


            </div>
        </uib-tab>

        <uib-tab heading="Observations">

            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <div ng-class="{'list-group-item':true,listItemSelected: k == selectedObservationCode}"
                             style="cursor: pointer"
                             ng-click="selectObservation(k)"
                             ng-repeat = "(k,v) in hashAllObs">
                            {{k}}
                        </div>
                    </div>

                </div>
                <div class="col-md-10">
                    <uib-tabset>
                        <uib-tab heading="Table">
                            <div class="row">
                                <div class ="col-md-6">
                                    <table class="table table-bordered">
                                        <tr><th>Date</th><th>Age</th><th>Value</th></tr>
                                        <tr ng-repeat = "obs in selectedObservationList">

                                            <td>
                                                <div class="clickable" ng-click="input.selectedObsFromTable = obs">
                                                    {{obs.effectiveDateTime | date : "MMM dd yyyy  h:mm"}}</div>
                                            </td>
                                            <td>
                                                {{obs.effectiveDateTime | age}}

                                            </td>
                                            <td>
                                                {{obs.valueString}}
                                                {{obs.valueQuantity.value}} {{obs.valueQuantity.unit}}
                                            </td>
                                        </tr>


                                    </table>

                                </div>
                                <div class ="col-md-6">
                                    <pre>{{input.selectedObsFromTable | json}}</pre>
                                </div>
                            </div>

<!--
                            <pre>{{hashAllObs | json}}</pre>
-->
                        </uib-tab>
                        <uib-tab heading="Chart">
<em>From patient viewer</em>
                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>





        </uib-tab>

        <uib-tab heading="Structured Path integration">

            <em>Q from SP - use public api. Search / associate. store reference in regimen careplan (an extension) </em>
            <div><em>Much of search is not coded - eg general text or more specific - like by section text (ancillary)</em></div>

            <div><em>Want 'ancillary studies' section - search for a section with 'ancillary' in the text</em></div>


        </uib-tab>

        <uib-tab heading="Resources by Type">
            <em>Types to left, list in middle, details on right (like patient viewer)</em>

        </uib-tab>

        <uib-tab heading="Json">
            <pre>{{allResourcesBundle | json}}</pre>
        </uib-tab>
    </uib-tabset>




</div>

</body>
</html>