
<div>
  <div class="modal-header">

    <div class="row">
      <div class="col-md-6 col-sm-6 ">

        <h3>Select by Nhi (Patient identifier)</h3>

      </div>

      <div class="col-md-1 col-sm-1">
        <div class="navbar-form navbar-left">
          <img ng-show="showWaiting" src="css/ajax_loader_blue_32.gif"/>

        </div>
      </div>

      <div class="col-md-5 col-sm-5">
        <button class="btn btn-primary pull-right"
          ng-show="input.value" ng-click="select()">Find</button>
        <button class="btn btn-link pull-right" ng-click="$dismiss()">Cancel</button>

      </div>

    </div>

  </div>
  <div class="modal-body">


    <div class="row" >
      <div class="col-sm-3 col-md-3">
        System
      </div>
      <div class="col-sm-9 col-md-9">
        <input type="text" placeholder = "Can be left blank" class="form-control" ng-model="input.system"/>
      </div>
    </div>


    <div class="row" >
      <div class="col-sm-3 col-md-3">
        Value
      </div>
      <div class="col-sm-9 col-md-9">
        <input type="text" placeholder="The NHI number" class="form-control" ng-model="input.value"/>
      </div>
    </div>

  </div>

  <div class="modal-header">
    <em>Enter the patients NHI number. At the moment, to support development the system can be left blank searching only on the value/</em>
  </div>
</div>
