
<div>

  <div class="row">
    <div class="col-md-9">
      <H4>Element: {{selectedNode.data.item.text}}</H4>
    </div>

    <div class="col-md-3">
      <!--
      <div ng-show="selectedNode.data.item.repeats">
          <div class="alert alert-danger pull-right">
              <strong>Element can repeat</strong>
          </div>

      </div>
      -->
    </div>
  </div>

  <div class="row" ng-show="selectedNode.data.item.repeats">
    <div class="col-md-3">
      <strong>Item can repeat</strong>
    </div>
    <div class="col-md-9">

    </div>
  </div>

  <div class="row" ng-show="selectedNode.data.meta.hidden">
    <div class="col-md-3">
      <strong>Item is hidden</strong>
    </div>
    <div class="col-md-9">

    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      LinkId
    </div>
    <div class="col-md-9">
      {{selectedNode.data.item.linkId}}
    </div>
  </div>

  <div class="row" ng-show="selectedNode.data.meta.description">
    <div class="col-md-3">
      Description
    </div>
    <div class="col-md-9">
      {{selectedNode.data.meta.description}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      Type
    </div>
    <div class="col-md-9">

      {{selectedNode.data.item.type}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"  ng-show= "selectedNode.data.item.code">
      Code
    </div>
    <div class="col-md-9">
      <div ng-repeat = "coding in selectedNode.data.item.code">
        {{coding.code}}
        <span style="padding-left: 20px">({{coding.display}})</span>
        <span style="padding-left: 40px">{{coding.system}}</span>
      </div>

    </div>
  </div>
  <div class="row" ng-show="selectedNode.data.item.answerValueSet">
    <div class="col-md-3">
      ValueSet
    </div>
    <div class="col-md-9">
      <div class="clickable" ng-click="viewVS(selectedNode.data.item.answerValueSet)">
        {{selectedNode.data.item.answerValueSet}}</div>
      <div ng-show="selectedNode.data.meta.renderVS">
        Render as {{selectedNode.data.meta.renderVS}}
      </div>
    </div>
  </div>

  <div class="row" ng-show="selectedNode.data.item.answerOption">
    <div class="col-md-3">
      Answer options
    </div>
    <div class="col-md-9">

      {{selectedNode.data.item.answerOption.length}} options in Q

      <div>
                                                            <span ng-repeat = "option in selectedNode.data.item.answerOption">
                                                                {{option.valueInteger}}{{option.valueString}}
                                                                {{option.valueCoding.display}},
                                                            </span>
      </div>

    </div>
  </div>

  <div class="row" ng-show="selectedNode.data.item.initial">
    <div class="col-md-3">
      Default option
    </div>
    <div class="col-md-9">
      {{selectedNode.data.item.initial[0].valueCoding.display}}
    </div>
  </div>


  <div class="row" ng-show="selectedNode.data.item.enableWhen">
    <div class="col-md-3">
      Conditional on
    </div>
    <div class="col-md-9">
      <div ng-repeat="ew in selectedNode.data.item.enableWhen">
                                                           <span class="clickable" ng-click="editItemFromLinkId(ew.question)"

                                                                 uib-popover="Section: {{hashAllItems[ew.question].section.text}}"
                                                                 popover-placement="right"
                                                                 popover-trigger="'mouseenter'"
                                                           >
                                                               {{ew.question}}

                                                           </span>
        {{ew.operator}}

        <span ng-show = "ew.answerCoding"> {{ew.answerCoding.code}} ({{ew.answerCoding.display}})</span>
        <span ng-show = "ew.answerBoolean !== undefined"> {{ew.answerBoolean}}</span>
        <span ng-show = "ew.answerString">{{ew.answerString}}</span>
        <span ng-show = "ew.answerInteger !== undefined">{{ew.answerInteger}}</span>
      </div>
    </div>
  </div>

  <div class="row" ng-show="selectedNode.data.meta.usageNotes">
    <div class="col-md-3">
      Usage guide
    </div>
    <div class="col-md-9">
      {{selectedNode.data.meta.usageNotes}}
    </div>
  </div>

  <div class="row" ng-show="selectedNode.data.meta.verification">
    <div class="col-md-3">
      Verification rules
    </div>
    <div class="col-md-9">
      {{selectedNode.data.meta.verification}}
    </div>
  </div>

  <div class="row" ng-show="selectedNode.data.meta.notes">
    <div class="col-md-3">
      Notes
    </div>
    <div class="col-md-9">
      {{selectedNode.data.meta.notes}}
    </div>
  </div>
<!-- - not working, why?
  {{selectedNode.data.meta.extraction}} {{Object.keys(selectedNode.data.meta.extraction)}}
-->
  <div class="row" ng-hide="selectedNode.data.item.type == 'group'">
    <div class="col-md-3">
      Mapping
    </div>
    <div class="col-md-9">


      <div ng-show="selectedNode.data.meta.extraction.none">
        No Mapping defined
      </div>

      <div ng-show="selectedNode.data.meta.extraction.type" || selectedNode.data.meta.extraction.path>
        Type:{{selectedNode.data.meta.extraction.type}}   Path:{{selectedNode.data.meta.extraction.path}}
      </div>


      <div ng-show="selectedNode.data.meta.extraction.extractObservation">
        Extract as Observation
      </div>

      {{selectedNode.data.meta.extraction.notes}}
    </div>
  </div>

  <div class="row" ng-show="selectedNode.data.meta.sourceStandard">
    <div class="col-md-3">
      Source standard
    </div>
    <div class="col-md-9">
      {{selectedNode.data.meta.sourceStandard}}
    </div>
  </div>

  <div class="row" ng-show="selectedNode.data.meta.columnCount">
    <div class="col-md-3">
      Column count
    </div>
    <div class="col-md-9">
      {{selectedNode.data.meta.columnCount}}
    </div>
  </div>

  <div class="row" ng-show="selectedNode.data.meta.column">
    <div class="col-md-3">
      Column number
    </div>
    <div class="col-md-9">
      {{selectedNode.data.meta.column}}
    </div>
  </div>

  <div class="row" ng-show="hashAllItems[selectedNode.data.item.linkId].dependencies.length > 0">
    <div class="col-md-3">
      Items dependent on this
    </div>
    <div class="col-md-9">
      <div ng-repeat = "entry in hashAllItems[selectedNode.data.item.linkId].dependencies">
        <div class="row">
          <div class="col-md-12">

            {{hashAllItems[entry.item.linkId].item.text}}
            <span class="clickable"
                  ng-click="editItemFromLinkId(entry.item.linkId)"

                  uib-popover="Section: {{hashAllItems[entry.item.linkId].section.text}}"
                  popover-placement="right"
                  popover-trigger="'mouseenter'"

            >
                                                                         ({{entry.item.linkId}})
                                                                     </span>
          </div>

        </div>
      </div>

    </div>
  </div>


  <div ng-hide="selectedNode.data.item.type == 'group'" class="row" >
    <div class="col-md-3">
      HISO
    </div>
    <div class="col-md-9">
      <strong>DT:</strong> {{selectedNode.data.meta.hisoDT}}
      <strong>Class:</strong> {{selectedNode.data.meta.hisoClass}}
      <strong>Length:</strong> {{selectedNode.data.meta.hisoLength}}
      <strong>Layout:</strong> {{selectedNode.data.meta.hisoLayout}}
      <strong>UOM:</strong> {{selectedNode.data.meta.UOM}}
    </div>
  </div>

</div>

                                                
                                                
                                                