<div ng-repeat="regimen in clinicalSummary.regimens">

    <div class="row">
        <div class="col-md-6">
            <br/>

            <div>
                <span class="myLabel">Regimen type</span>
                {{anSvc.getSingleExtension(regimen.regimenCP,"http://hl7.org.nz/fhir/StructureDefinition/sact-regimen-type","CodeableConcept").text}}
            </div>

            <div>
                <span class="myLabel">Treatment intent</span>
                {{anSvc.getSingleExtension(regimen.regimenCP,"http://canshare.co.nz/fhir/StructureDefinition/an-iot","CodeableConcept").text}}
            </div>

            <div>
                <span class="myLabel">Period of treatment</span>

                {{regimen.regimenCP.period.start}} to {{regimen.regimenCP.period.end}}
                &nbsp; &nbsp; &nbsp;
                {{moment(regimen.regimenCP.period.end).diff(moment(regimen.regimenCP.period.start),'days')}} days
            </div>


            <div>
                <span class="myLabel">Text</span>
                {{regimen.regimenCP.text.div | cleanTextDiv}}
            </div>

            <div>
                <span class="myLabel">Identifier</span>
                {{regimen.regimenCP.identifier[0].value}}
            </div>

            <div>
                <span class="myLabel">Current status</span>
                {{regimen.regimenCP.status}} &nbsp; &nbsp; &nbsp; <em>{{regimen.revoked.reason.valueCodeableConcept.text}}</em>
<!--
                <br/>
                <span class="myLabel">Discontinue reason</span>
                <em>{{regimen.revoked.reason.valueCodeableConcept.text}}</em>
               -->


            </div>


            <div ng-repeat = "condition in regimen.addresses">
                <span class="myLabel">Diagnosis</span>
                {{condition.code.text}} (<em>{{condition.code.coding[0].system}} {{condition.code.coding[0].code}}</em>)
                <br/>
                <span class="myLabel">Laterality</span>
                {{anSvc.getSingleExtension(condition,"http://hl7.org/fhir/us/mcode/StructureDefinition/mcode-laterality-qualifier","String")}}
            </div>

            <div ng-show="regimen.gleason">
                <span class="myLabel">Gleason</span>
                Primary: {{regimen.gleason.primary}}  &nbsp; &nbsp; &nbsp; Secondary:{{regimen.gleason.secondary}}   &nbsp; &nbsp; &nbsp; Tertiary:{{regimen.gleason.tertiary}}
            </div>

            <div ng-show="regimen.pTNM">
                <span class="myLabel">Pathological TNM</span>
                Group: {{regimen.pTNM.group.coding[0].code}} &nbsp; &nbsp; &nbsp; T:{{regimen.pTNM.T.coding[0].code}}&nbsp; &nbsp; &nbsp;
                N:{{regimen.pTNM.N.coding[0].code}}  &nbsp; &nbsp; &nbsp; M:{{regimen.pTNM.M.coding[0].code}}
            </div>

            <div ng-show="regimen.cTNM">
                <span class="myLabel">Clinical TNM</span>
                Group: {{regimen.cTNM.group.coding[0].code}} &nbsp; &nbsp; &nbsp; T:{{regimen.cTNM.T.coding[0].code}}&nbsp; &nbsp; &nbsp;
                N:{{regimen.cTNM.N.coding[0].code}}  &nbsp; &nbsp; &nbsp; M:{{regimen.cTNM.M.coding[0].code}}
            </div>


            <div ng-show="regimen.cycles.length > 0" >
                <br/>

                <table class="table table-bordered">
                    <tr><th>Number</th><th>Status</th><th>Start</th><th>End</th><th>Length</th><th>Planned</th><th>Id</th></tr>
                    <tr ng-repeat="cycle in regimen.cycles">
                        <td><span class="clickable" ng-click="selectCycleFromSummary(cycle)">Cycle #{{cycle.meta.cycleNumber}}</span></td>
                        <td>{{cycle.resource.status}}</td>
                        <td>{{cycle.resource.period.start}}</td>
                        <td>
                            {{cycle.resource.period.end}}
                        </td>
                        <td>{{cycle.meta.cycleLength}} </td>
                        <td>{{cycle.meta.plannedCycleLength}}</td>
                        <td>{{cycle.resource.identifier[0].value}}</td>
                    </tr>

                    </tr>
                </table>
<!--
                <div ng-repeat="cycle in regimen.cycles">
                    <span class="myLabel clickable"> <span  ng-click="selectCycleFromSummary(cycle)">Cycle #{{cycle.meta.cycleNumber}}</span></span>
                    {{cycle.resource.status}}  from {{cycle.resource.period.start}} to {{cycle.resource.period.end}}
                    &nbsp; &nbsp; &nbsp; ({{cycle.resource.identifier[0].value}})
                </div>
                -->



            </div>


        </div>

        <div class="col-md-6">
            <br/>
            <div ng-show = "selectedCycleFromSummary">
                <h4>Cycle #{{selectedCycleFromSummary.meta.cycleNumber}} summary</h4>

                <uib-tabset>
                    <uib-tab heading = "Linked resources">
                        <table class="table table-bordered">
                            <tr><th>Date</th><th>Text</th><th>Type</th></tr>
                            <tr ng-repeat = "item in selectedCycleFromSummary.referenced">
                                <td><div class = 'clickable' ng-click="input.csSelectedResource = item.resource">{{item.summary.date}}</div></td>
                                <td>{{item.summary.display}}</td>
                                <td>{{item.resource.resourceType}}</td>
                            </tr>
                        </table>

                        <pre ng-show="input.csSelectedResource">{{input.csSelectedResource | json}}</pre>
                    </uib-tab>
                    <uib-tab heading = "Cycle CarePlan Json">
                        <pre ng-show="selectedCycleFromSummary">{{selectedCycleFromSummary.resource | json}}</pre>
                    </uib-tab>
                    <uib-tab heading = "Development Json (can ignore)">
                        <pre ng-show="selectedCycleFromSummary">{{selectedCycleFromSummary | json}}</pre>
                    </uib-tab>
                </uib-tabset>

            </div>

<!--

            <pre>{{selectedCycleFromSummary | json}}</pre>

            <div class="scroll">




                <pre>{{regimen | json}}</pre>

            </div>
-->
        </div>
    </div>


</div>


